<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Ommatdium</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">

        <link rel="stylesheet" href= "/static/styles/bug.css">
    </head>

    <body background="/static/dist/images/img.png">
        

        <hr>
        <main>
            <article>
                <img src="{{ image_url }}">
                <article>
                    <section>
                        <h1>DETECTED:</h1>
                        <h1 class="blue-text">{{ name }}</h1>
                    </section>

                    <section>
                        <h1>RESULT:</h1>
                        <h1 class="red-text">{{ harmful_or_not }}</h1>
                    </section>

                    <p>This bugs name is {{ name }}. Its scientific name is {{ science_name }}.
                       It attacks this crop: {{ crop }}. If you grow this crop beware this
                       bug is dangerouse towards this crop. This pesticide works against this bug:
                       {{ pesticide }}. If you grow {{ crop }} it is <strong>HIGHLY</strong> adviced that you use
                       {{ pesticide }} to protect your crops.
                    </p>
                </article>
            </article>
        </main>
    </body>
</html>